.demo-controls {
  display: flex;
  align-items: center;
}

.demo-button {
  align-self: flex-start;
  margin-right: 1em;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em 1.2em;
  color: inherit;
  background-color: transparent;
}

.demo-button:focus {
  outline: none;
  background-color: white;
}

.demo-button:active {
  border-color: var(--color-border);
}

.demo-input {
  flex: 1;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em .8em;
  color: inherit;
  background-color: transparent;
}

.demo-input:focus {
  outline: none;
  border-color: hsl(0, 0%, 80%);
  background-color: white;
}

.demo-response {
  flex: 1;
  word-break: break-word;
}

.smooth-appear {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.disappear {
  opacity: 0;
}

.demo-button.smooth-disappear:focus {
  outline: inherit;
  border-color: inherit;
  background-color: inherit;
}
